<template>
  <div class="contact">
    <h1>{{ msg }}</h1>
     <a href="/#/">
        home
    </a>
    <facebook-login class="button"
      appId="281557528945653"
      @login="getUserData"
      @get-initial-status="getUserData">
    </facebook-login>
    <h1>{{ dataQuestion.question.title }}</h1>
    <div id="v-for-object" class="answer_type">
      <span v-for="value in dataQuestion.question.answers_types">
        <button v-on:click="submit" v-bind:value="value" >{{ value }}</button>
      </span>
    </div>
    <img v-bind:src="imageSrc" />
    <ul id="v-for-object" class="demo">
      <li v-for="value in dataQuestion.answers">
        {{ value }}
      </li>
    </ul>
  </div>
</template>

<script>
import axios from 'axios';
import facebookLogin from 'facebook-login-vuejs';

export default {
  name: 'Contact',
  data () {
    return {
      msg: 'Ceci est une page de contact',
      dataQuestion: ""
    }
  },
  components: { facebookLogin },
  mounted() {
      axios({ method: "GET", "url": "https://www.plebis.fr/api/first" }).then(result => {
          var dataJson = JSON.stringify(result.data);
          this.dataQuestion = JSON.parse(dataJson);
          console.log(this.dataQuestion.question.answers_types);
      }, error => {
          console.error(error);
      });
  },
  computed: {
    imageSrc: function () {
      return 'https://www.plebis.fr/uploads/media/default/0001/01/'+this.dataQuestion.picture.provider_reference;
    }
  },
  methods: {
      submit: function (event) {
        alert(event.toElement.value)
      },
      getUserData: function (event) {
        console.log(event)
      }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
